---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<div
  class="relative rounded-md p-4 flex flex-col gap-8 hover:bg-primary/5 transition-colors backdrop-blur-lg shadow-[inset_0px_0px_4px_oklch(var(--foreground)/0.1)]"
>
  <a class="grid place-items-center" href={`/projects/${project.id}`}
    ><img
      class="size-40 rounded-sm max-w-full h-full aspect-square"
      src={project.data.cover.src}
      height={project.data.cover.height}
      width={project.data.cover.width}
    /></a
  >
  <p class="text-lg text-center">
    {project.data.name}
  </p>
  <p class="text-sm text-center">{project.data.description}</p>
  <div class="flex gap-1 flex-wrap justify-center mt-auto">
    {
      project.data.tags.map((tag) => (
        <span class="bg-primary rounded-md px-2 py-1 text-xs">{tag}</span>
      ))
    }
  </div>
</div>
